params {
    reads = '/Users/nataliemarryatt/RNAseq-nextflow/test-datasets/testdata/*_subsamp.fastq.gz'
    outdir = '/Users/nataliemarryatt/RNAseq-nextflow/results'
}

conda {
    enabled = true
    useMamba = false
}

process {
    withName: fastqc {
        conda = 'bioconda::fastqc=0.12.1'
    }
}