params {
    reads = '/Users/nataliemarryatt/RNAseq-nextflow/test-datasets/testdata/*_subsamp.fastq.gz'
    outdir = '/Users/nataliemarryatt/RNAseq-nextflow/results'
}

conda {
    enabled = true
    useMamba = false
}

docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

process {
    withName: fastqc {
        conda = 'bioconda::fastqc=0.12.1'
    }
    withName: 'salmon_index'{
        conda= 'bioconda::salmon'
    }
    withName: 'salmon_quant'{
        conda= 'bioconda::salmon'
    }
    withName: multiqc {
        conda = 'bioconda::multiqc=1.14'
    }

    withName: 'star_index|star_align' {
        container = 'quay.io/biocontainers/star:2.7.11b--h43eeafb_1'
    }
}